.header-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 12px;
  z-index: 100;

  @media screen and (min-width: 768px) {
    padding: 0 18px;
    
  }
  
  @media screen and (min-width: 992px) {
    padding: 0 100px;
  }

}
