
$primary:#3b37ff;
$headings-font-family:"Oswald", sans-serif;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Contenido de bootstrap 
@import "./Header.scss";
@import "./Home.scss";
@import "./Ropa-home.scss";
@import "./view-products.scss";
@import "./Footer.scss";
@import "./Client.scss";
@import "./Profile.scss";


@import "../../node_modules/bootstrap/scss/bootstrap";

html, body{
  background-color: rgb(248, 248, 248);
  font-family: "Roboto", sans-serif;
}
.mt-seccions-index {
  margin-top: 75px !important;
}
.user-icon{
    font-size: 35px;
    color: #000000;
}
.icon-bag{
  font-size: 30px;
}

.navbar-nav .nav-item span{
  color: #000000 !important;
}
.navbar-toggler:focus{
    box-shadow: none ;
    border: none
}
.form-select:focus,
.form-control:focus{
  box-shadow: none ;
}

.dropdown-menu{
    border: none;
}

.cp{
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .seccions{
        max-width: 1300px;
        margin: auto;
    }
}


    label{
        display:flex;
         flex-direction:column;
         width:35px;
         cursor:pointer;
       }
       
       label span{
         background: #000000;
         border-radius:10px;
         height:3px;
         margin: 3px 0;
         transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
       
       }
       
       
       span:nth-of-type(1){
         width:50%;
         
       }
       
       span:nth-of-type(2){
         width:100%;
       }
       
       
       span:nth-of-type(3){
         width:75%;
        
       }
       
       
       input[type="checkbox"]{
         display:none;
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(1){
         transform-origin:bottom;
         transform:rotatez(45deg) translate(3px,0px)
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(2){
         
         transform-origin:top;
         transform:rotatez(-45deg)
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(3){
         
         transform-origin:bottom;
         width:50%;
         transform: translate(15px,-3px) rotatez(45deg);
       
       }
 