
$primary:#3b37ff;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Contenido de bootstrap 

@import "./Home.scss";


@import "../../node_modules/bootstrap/scss/bootstrap";
.header-container{
    max-width: 95%;
    width: 100%;
    margin: auto;
}
.user-icon{
    font-size: 35px;
}

.navbar-toggler:focus{
    box-shadow: none ;
    border: none
}

.dropdown-menu{
    border: none;
}

.cp{
    cursor: pointer;
}

