
$primary:#3b37ff;


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

// Contenido de bootstrap 
$carousel-caption-width: 10%;
@import "./Home.scss";
$carousel-caption-width: 10%;

@import "../../node_modules/bootstrap/scss/bootstrap";
.header-container{
    max-width: 95%;
    width: 100%;
    margin: auto;
}
.user-icon{
    font-size: 35px;
}

.navbar-toggler:focus{
    box-shadow: none ;
    border: none
}

.dropdown-menu{
    border: none;
}

.cp{
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .seccions{
        max-width: 1400px;
        margin: auto;
    }
}


    label{
        display:flex;
         flex-direction:column;
         width:35px;
         cursor:pointer;
       }
       
       label span{
         background: #bc2525;
         border-radius:10px;
         height:3px;
         margin: 3px 0;
         transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
       
       }
       
       
       span:nth-of-type(1){
         width:50%;
         
       }
       
       span:nth-of-type(2){
         width:100%;
       }
       
       
       span:nth-of-type(3){
         width:75%;
        
       }
       
       
       input[type="checkbox"]{
         display:none;
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(1){
         transform-origin:bottom;
         transform:rotatez(45deg) translate(2px,0px)
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(2){
         
         transform-origin:top;
         transform:rotatez(-45deg)
       }
       
       
       input[type="checkbox"]:checked ~ span:nth-of-type(3){
         
         transform-origin:bottom;
         width:50%;
         transform: translate(14px,-3px) rotatez(45deg);
       
       }
 